{% extends '@app/dashboard-layout.html.twig' %}

{% set page_title = 'admin'|trans %}
{% set active_item = 'admin' %}
{% set active_sub_item = 'credentials' %}

{% block content %}
    <h2 class="title">{{ 'message_title'|trans }}</h2>
    {{ flash('error')|raw }}
    {{ flash('warning')|raw }}
    {{ flash('success')|raw }}
    {{ flash('info')|raw }}
{% endblock %}
