{% extends '@app/dashboard-layout.html.twig' %}

{% set page_title = 'admin'|trans %}
{% set active_item = 'admin' %}
{% set active_sub_item = 'credentials' %}

{% set flash_values = flash('value') %}
{% set pagination = session('pagination') %}

{% block content %}
    <h2 class="title">{{ flash_values.page_title|trans }}</h2>
    <table class="table table-striped table-dark table-sm">
        <thead>
        <tr>
            <th scope="col">#</th>
            <th scope="col">{{ 'email_address'|trans }}</th>
            <th scope="col">{{ 'role_id'|trans }}</th>
            <th scope="col"></th>
            <th scope="col"></th>
        </tr>
        </thead>
        <tbody>
        {% set n = 0 %}
        {% for credential in credentials %}
            {% set n = n + 1 %}
            <tr>
                <th scope="row">{{ n }}</th>
                <td>{{ credential.ref }}</td>
                <td>{{ credential.roleId }}</td>
                <td><a href="{{ url_for('authe.credential.edit', {'id': replace('.', '_', credential.id)}) }}">{{ 'modify'|trans }}</a></td>
                <td><a href="{{ url_for('authe.credential.delete', {'id': replace('.', '_', credential.id)}) }}">{{ 'delete'|trans }}</a></td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    {{ pagination.links|raw }}

    <div class="text-right">
        <a class="btn btn-secondary" href="{{ url_for('admin.index') }}" role="button">{{ 'back'|trans }}</a>
        <a class="btn btn-primary" href="{{ url_for('authe.credential.add') }}" role="button">{{ 'add'|trans }}</a>
    </div>
{% endblock %}
