{% extends '@app/layout.html.twig' %}

{% set page_title = 'admin'|trans %}
{% set active_item = 'admin' %}
{% set active_sub_item = 'credentials' %}

{% block content %}
    <h2 class="title">{{ 'form_update_title'|trans }}</h2>
    <form class="needs-validation" action="{{ url_for('authe.credential.update') }}" method="post" novalidate>

        {{ flash('error')|raw }}

        <div class="form-group">
            <label for="ref">{{ 'new_email'|trans }}:</label>
            <input type="email"
                   class="form-control {{ vld_style('ref') }}"
                   id="ref"
                   name="ref"
                   aria-describedby="refHelp"
                   value="{{ credential.ref }}">
            <small id="refHelp" class="form-text text-muted">{{ 'email_address_help'|trans }}.</small>
            {{ vld_feedback('ref')|raw }}
        </div>

        <div class="form-group">
            <label for="password_hash">{{ 'new_password'|trans }}:</label>
            <input type="password"
                   class="form-control {{ vld_style('password_hash') }}"
                   id="password_hash"
                   name="password_hash"
                   aria-describedby="passwordHelp"
                   value="">
            <small id="passwordHelp" class="form-text text-muted">{{ 'password_help'|trans }}.</small>
            {{ vld_feedback('password_hash')|raw }}
        </div>

        <div class="form-group">
            <label for="password_hash_repeat">{{ 'repeat_new_password'|trans }}:</label>
            <input type="password"
                   class="form-control {{ vld_style('password_hash_repeat') }}"
                   id="password_hash_repeat"
                   name="password_hash_repeat"
                   value="">
            {{ vld_feedback('password_hash_repeat')|raw }}
        </div>

        {{ csrf()|raw }}

        <div class="text-right">
            <a class="btn btn-secondary" href="{{ url_for('main.index') }}" role="button">{{ 'cancel'|trans }}</a>
            <button type="submit" class="btn btn-primary">{{ 'update'|trans }}</button>
        </div>

    </form>
{% endblock %}